#PORT=3000
#MONGO_DB_URI=mongodb://natanliany_db_user:NQhsC7yPyHp1iPGe@ac-sh4ki5t-shard-00-00.wmvmbpa.mongodb.net:27017,ac-sh4ki5t-shard-00-01.wmvmbpa.mongodb.net:27017,ac-sh4ki5t-shard-00-02.wmvmbpa.mongodb.net:27017/?ssl=true&replicaSet=atlas-6h5118-shard-0&authSource=admin&appName=natan3155
#SUPABASE_URL=https://euytizqymejyhxjubsyb.supabase.co/
#API_KEY=sb_secret_mFZ0NKUg8d615L3DXFmq2Q_kw0S6RK4
